* {
    text-align: center;
    margin: 2px auto;
}
div#key {
    max-width:100%;
    height: auto;
}
div#key div input{
    vertical-align: auto;
    padding: 5px 3px;
    margin: 2px auto;
}
#Box{
    text-align: left;
    text-align-last: left;
}
#PlayButton {
    font-size: x-large;
    height: 100%;
    width: 100%;
}
#AnswerButton{
    font-size: x-large;
    height: 100%;
    width: 100%;
}