* {
    text-align: center;
}
.keyboard > input{
    margin: 5px;
}
.callsign {
    text-align: left;
	text-transform:uppercase;
}
.ctl_button {
    height: 2em;
    width: 100%;
}
.subbox{
    size: 3;
}
.big {
    vertical-align: top;
    height: 20em;
}
.notdisplay {
	display:none;
	pointer-events:none;
}
