* {
    text-align: center;
}
.keyboard > input{
    margin: 1px;
}
.callsign {
    text-align: left;
	text-transform:uppercase;
}
.ctl_button {
    height: 2em;
    width: 100%;
}
.subbox{
    size: 3;
}
.big {
    vertical-align: top;
    height: 20em;
}
.notdisplay {
	display:none;
	pointer-events:none;
}

.item {
    display: flex;
    /* flex-wrap: nowrap; */
    justify-content:center;
    align-items: center;
    height: 5em;
}
.item-image {
}
.item-text {
    flex-wrap:wrap;
    justify-content:center;
    align-content:center;
    align-items:center;
}
