body {
    margin-bottom: 2em;
}

@media only screen and (min-width: 480px) {
    .keyboard {
        display:none;
    }
    .smartphone-usage {
        display:none;
    }
}
@media only screen and (max-width: 480px) {
    .pc-usage {
        display:none;
    }
}

.keyboard > input{
    margin: 1px;
}

.callsign {
    text-align: left;
    text-transform:uppercase;
}

.text {
    text-align: left;
    text-transform:uppercase;
    margin: 7px;
}

.ctl_button {
    height: 2em;
    width: 100%;
}
.subbox{
    width: 3em;
}
.big {
    vertical-align: top;
    height: 20em;
    width: 15em;
}
.notdisplay {
    visibility:hidden;
    pointer-events:none;
}

.item {
    display: flex;
    /* flex-wrap: nowrap; */
    justify-content:center;
    align-items: center;
    height: 5em;
}

.item-image {
    width: 50px;
    height: 50px;
}

.item-text {
    flex-wrap:wrap;
    justify-content:center;
    align-content:center;
    align-items:center;
}

.tooltip {
    position: relative;
    cursor: pointer;
}

.description {
    display: none;
    position: absolute;
    padding:10px;
    font-size:80%;
    line-height: 1.6em;
    color: #fff;
    border-radius:5px;
    background: #000;
}

.description-down:before {
    content: "";
    position: absolute;
    top: 100%;
    right: 50%;
    margin-left: -15px;
    transform: rotateZ(180deg);
}

@media only screen and (min-width: 480px) {
    .tooltip:hover .description-down {
        display: inline-block;
        top: 45px;
        left: 50px;
    }
}

.description-up:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 90%;
    margin-left: 15px;
}

@media only screen and (min-width: 480px) {
    .tooltip:hover .description-up {
        display: inline-block;
        top: -60px;
        left: 100px;
    }
}

.usage {
    display: inline;
    list-style-position: inside;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-list {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index:  999;
    text-align:center;
    justify-content:center;
}

.menu-list ul {
    display: flex;
    justify-content:center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.menu-list li {
    list-style: none;
    width: 25%;
    max-width:10em;
    background-color: #333;
    display: block;
    margin: 1px;
    border: 1px;
    padding:0px;
}

.menu-list li a {
    display:block;
    text-decoration: none;
    color: #fff;
    font-weight:bold;
    line-height:1em;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: -2px;
    margin-left: -2px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100%;
}

.option-box {
    margin-top: 10px;
    margin-bottom: 5px;
}
