body {
    margin-bottom: 2em;
}

.callsign {
    text-align: left;
    text-transform:uppercase;
}

.text {
    text-align: left;
    text-transform:uppercase;
    margin: 7px;
}

.subbox{
    width: 3em;
}

.item {
    display: flex;
    /* flex-wrap: nowrap; */
    justify-content:center;
    align-items: center;
    height: 5em;
}

.item-image {
    width: 50px;
    height: 50px;
}

.item-text {
    flex-wrap:wrap;
    justify-content:center;
    align-content:center;
    align-items:center;
}

.menu-list {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index:  999;
    text-align:center;
    justify-content:center;
}

.menu-list ul {
    display: flex;
    justify-content:center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.menu-list li {
    list-style: none;
    width: 25%;
    max-width:10em;
    background-color: #333;
    display: block;
    margin: 1px;
    border: 1px;
    padding:0px;
}

.menu-list li a {
    display:block;
    text-decoration: none;
    color: #fff;
    font-weight:bold;
    line-height:1em;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: -2px;
    margin-left: -2px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100%;
}

