{{define "footer"}}
<footer>
    <nav class="menu-list">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/cwTutor.html">CW WEB TUTOR</a></li>
            <li><a href="/history.html">History</a></li>
            <li><a href="https://std.eim.world">Contact</a></li>
        </ul>
    </nav>
    <p>開発にご協力していただける方は、GitHub の <a href="https://github.com/tomato3713/cw_for_web/issues">issue</a> か <a href="https://twitter.com/tomato3713">Twitter</a> 等でご連絡ください. 感想等もお待ちしております.</p>
</footer>
<script src="/assets/js/register-service-worker.js"></script>
{{end}}
