{{ define "history" }}
<!DOCTYPE html>
<html lang="ja">
    <head>
        {{ template "header" }}
    </head>
    <body>
        <section>
            <h1>History</h1>
            <dl>
                <dt>2017/06/19 CW WEB RUNNER</dt><dd> made basic mode.</dd>
                <dt>2017/08/14 CW WEB RUNNER</dt><dd> 再生部分を修正。</dd>
                <dt>2017/11/27 CW WEB RUNNER</dt><dd> 日本語のコールサインを追加</dd>
                <dt>2017/12/10 CW WEB RUNNER</dt><dd> DX局のコールサインを追加合計300局</dd>
                <dt>2018/03/23</dt><dd> リファクタリング</dd>
                <dt>2018/04/17 CW WEB RUNNER</dt><dd> 末尾がポータブルのみ再生される問題を解決<br>
                デフォルトで再生される符号をJaコールに変更</dd>
                <dt>2018/05/07 CW WEB RUNNER</dt><dd> 間違えた符号を繰り返し再生、deを初めに再生する機能を追加</dd>
                <dt>2018/05/13</dt><dd> 速度の表記を変更、短点の長さ単位はミリ秒にした。</dd>
                <dt>2019/04/01</dt><dd> 速度の表記をWPMに変更.</dd>
                <dt>2019/05/04 CW WEB RUNNER</dt><dd> ラバースタンプ交信の練習用モードを追加.</dd>
                <dt>2020/03/21 CW WEB RUNNER</dt><dd> ランダム周波数・速度での再生機能追加・タイプ変更がすぐに反映されない問題を修正.</dd>
                <dt>2020/03/21 CW TUTOR</dt><dd> 文字間・語間が長い問題を修正.</dd>
            </dl>
        </section>
        {{ template "footer" }}
    </body>
</html>
{{ end }}
