{{ define "index" }}
<!DOCTYPE html>
<html lang="ja">
    <head>
        {{ template "header" }}
        <script type="text/javascript">
            if(localStorage.getItem('token') !== null) {
                location.href='/profile'
            }
        </script>
    </head>
    <body>
        <h1 class="title-h1">{{ .Info.Title }}</h1>
        <div>
            <a href="/login" class="btn btn-primary btn-lg">Login</a>
            <a href="/signup" class="btn btn-secondary btn-lg">Sign Up</a>
        </div>
        {{ template "footer" }}
    </body>
</html>
{{ end }}
