{{ define "profile" }}
<!DOCTYPE html>
<html lang="ja">
    <head>
        {{ template "header" }}
        <script type="text/javascript">
            if(localStorage.getItem('token') === null) {
                location.href = '/'
            }
        </script>
    </head>
    <body>
        <h1 class="title-h1">{{ .Info.Title }} - User Page</h1>
        <div id="profile">
            <div>
                {{ `{{ user }}` }}, welcome!
            </div>
            <div>
                {{ `{{ random_message() }}` }}
            </div>
            <button type="button" name="logout" @click="logout()">logout</button>
        </div>
        <script src="assets/js/profile.js"></script>
        {{ template "footer" }}
    </body>
</html>
{{ end }}
