{{define "runner"}}
<!DOCTYPE html>
<html lang="ja">
    {{template "header" .}}
    <body>
    <h1 class="title-h1">CW Web Runner</h1>
    <div class="tooltip">
        <input type="button" class="ctl_button" id="PlayButton" value="Play">
        <div class="description-up description">Click or press enter key to play the Morse code.</div>
    </div>
    <div class="tooltip">
        <input type="button" class="ctl_button" id="AnswerButton" value="Answer">
        <div class="description-down description">After entering the code you heard, please click or press enter key to confirm your answer.</div>
    </div>
    <div class="item">
        <img class="item-image" id="Result_Now" src="./assets/img/question-mark.png" alt="result">
        <div class="item-text">
            <div>Right<input type="text" id="RightCount" value=0 size="3" readonly/></div>
            <div>Wrong<input type="text" id="WrongCount" value=0 size="3" readonly/></div>
        </div>
    </div>
    <input type="text" id="Box" class="callsign" value="" placeholder="Press Enter to start"/>
    <br/>
    <div class="option-box">Signal Type
        <div id="radioButton_log">
            <input type="radio" name="logType" value="DX"/>World
            <input type="radio" name="logType" value="Ja" checked/>Japan
            <br>
            <input type="radio" name="logType" value="Basic"/>Basic
            <input type="radio" name="logType" value="Stamp"/>Rubber Stamp
        </div>
    </div>
    <div class="option-box">Speed (wpm)
        <div id="radioButton_speed">
            <input type="radio" name="speedOpt" value="random"/>Random
            <br/>
            <input type="radio" name="speedOpt" value="fixed" checked/>Fixed
            <input type="number" id="Speed" class="subbox" value="25" />
        </div>
    </div>
    <div class="option-box">Freq (Hz)
        <div id="radioButton_frequency">
            <input type="radio" name="freqOpt" value="random"/>Random
            <br/>
            <input type="radio" name="freqOpt" value="fixed" checked/>Fixed
            <input type="number" id="Freq" class="subbox" value="500" />
        </div>
    </div>
    <div class="option-box">
        <input type="checkbox" name="addDe" id="checkbox_addDe" value="addDe"/>Add De
    </div>
    <div class="option-box">
        <input type="checkbox" name="repeat_wrong_signal" id="checkbox_rws" value="repeat_wrong_signal" checked/>repeat wrong signal
    </div>
    <textarea id="History" class="subbox big" readonly>History of Training in the time.</textarea>
    {{template "footer" .}}
    <script src="/assets/js/common.js"></script>
    <script src="/assets/js/runner.js"></script>
    </body>
</html>
{{end}}
